service: go-aws-lambda-hello

frameworkVersion: "3"
package:
  individually: true

provider:
  name: aws
  runtime: provided.al2
  architecture: arm64
  httpApi:
    cors: true

functions:
  hello: # sls invoke -f [function name]
    handler: bootstrap
    package:
      artifact: build/lambda/hello.zip
    events:
      - httpApi:
          path: /sls-gateway-lambda-hello
          method: get
# https://stackoverflow.com/questions/66001173/serverless-error-no-file-matches-include-exclude-patterns
# package:
#   patterns:
#     - "./bin/**" # 包括 bin 目錄下的所有文件
